@import "_variable.scss";

@mixin heading($f_s:16px){
    font-size: $f_s;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    color:$green
}
.font{
    font-size: 18px;
    color:$white;
    border-radius: 15px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@import "_header";

.slider {
    height: 600px;

    img {
        height: 100%;
        width: 100%;
    }
}

.prodcut {
    .headings {
        h2 {
           @include heading(25px);
        }
    }
.main-card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
    .card {
        width: 320px;       
        text-align: center;
       
        .image {
            width: 90%;
            height: 250px;
            text-align: center;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;

            }
        }

        .card-title {
            h3 {
                @include heading(20px)
            }

        
        }

        .price{
            font-size: 25px;
            font-weight: bold;
            color:purple;
            padding: 20px;
        }
        .button{
            padding: 12px 20px ;
            background-color: $green;
            width: 150px;
            margin: auto;

            @extend .font;
           
        }
    }
}
}

.sales-section{
    .sales{
        h2{
            @include heading()
        }
    }

    .image-gallery{
        text-align: center;
        img{
            width: 25%;
            
        }
    }
}

footer{
    background-color: $green;
    height: 50px;
    color:$white;
    text-align: center;
    line-height: 50px;
}