.change-on{
    background-color: green;
    border-radius: 5px;
    border-style: none;
    color: white;
}

.change-off{
    background-color: rgb(211, 3, 3);
    border-radius: 5px;
    border-style: none;
    color:white
}

#box{
    margin-top: 5px;
    width: 150px;
    height: 150px;
    background-color: green;
    border-radius: 15px;
    text-align: center;
    line-height: 150px;
    font-size: 25px;
    color: white;
}